
@{
    ViewBag.Title = "UserProfile";
}

<h2>UserProfile: </h2>
<p>Visitor No: @ViewBag.TotalVisitors</p>
<h3>Welcome: @ViewBag.UserName</h3>
<h4>Login Time: @ViewBag.LoginTime</h4>

<span>@Html.ActionLink("Sign Out", "SignOut", "Account")</span>
