.input-group-text {
  width: 145px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.table-widthset {
  width: 50%;
  margin: auto;
}

#button-med-reg {
  float: right;
  margin-top: 10px;
}

#medicineRegisterpage {
  width: 50%;
  margin: auto;
}

#collapseAddchemicalClass {
  width: 50%;
  margin: auto;

}

#collapseAddManufacture {
  width: 50%;
  margin: auto;

}

#collapseAddtheraputicClass {
  width: 50%;
  margin: auto;

}

.account-settings {
    text-align: center;
}

.user-profile img {
    width: 200px;
    height: auto;
    margin: auto;
}

.user-name {
    margin-top: 10px;
    color: darkblue;
}

.user-email,
.user-contactno {
    color: grey;
    font-size: 0.9em;
    margin: 0;
}

.manage-address button {
  /*  background-color: inherit; */
    border: none;
    font-weight: 500;
    color: darkblue;
    font-size: 1.2em;
}

.manage-address button:hover {
    color: rgba(0, 0, 139, 0.800);
    border-bottom: 1px solid rgba(0, 0, 139, 0.800);
}

.logout a {
    text-decoration: none;
    font-weight: 500;
    color: red;
}

.logout a:hover {
    color: rgba(255, 0, 0, 0.800);
}

.left {
    float: left;
}

.right {
    float: right;
}

.user-address-section {
    border: 1px dotted gray;
}

.user-address-section button {
    background-color: inherit;
    border: none;
}

.user-address-section button:hover {
    /* box-shadow: 4px 4px 4px grey; */
    /* border-radius: 20%; */
    color: darkblue;
}

.username,
.usercontactno {
    font-weight: bold;

}

.add-address {
    border-bottom: 2px solid gray;
}

.add-address button {
  /*   background-color: inherit; */
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: darkblue;
}

#save-address-btn {
    width: 100%;
    margin: auto;
}

#save-address-btn button {
    width: 100%;
    margin: auto;
}



/* =====================orders page================================ */
#myorderpage {
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    align-items: center;
    border: 2px solid rgb(194, 187, 187);
    border-radius: 12px;
    padding: 20px;
}

#myorderpage h3 {
    height: 50px;
    width: 80%;
    margin: auto;
    line-height: 50px;
    background-color: rgb(190, 231, 231);
    padding-left: 1%;
}

#myorderpage p {
    padding: 0;
    margin: 0;
}

#myorderpage .orderrow {
    width: 80%;
    /* min-height: 175px; */
    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: #fcfcfc;
    border: 1px dotted grey;
    border-radius: 6px;
    padding: 2%;
}

#myorderpage .orderrow:hover {
    transition: box-shadow .1s linear;
    box-shadow: 0 0 5px 2px rgb(187, 185, 185);
    cursor: pointer;
}

#order-details {
    margin: 1% 1% 0 1%;
    padding: 0;
    border-top: 2px solid grey;
}

#cancel-order {
    margin-top: 5%;
    border: none;
    padding: 1%;
    width: 100px;
    border-radius: 2px;
}

.order-item {
    border-bottom: 1px dotted grey;
}



#seller-name {
    font-weight: 600;
}

@media only screen and (max-width: 750px) {
    #myorderpage {
        /* background-color: ; */
        border: none;
        padding: 5px;
        margin: 0;
        border-radius: 0;
    }

    #myorderpage h3,
    #myorderpage .orderrow {
        width: 100%;
    }

    #myorderpage .orderrow {
        padding: 5px 0 5px 0;
    }

}



#deliveredCanceledbackground{
    position:absolute;
    z-index:0;
}

#Canceled-bg-text
{
    color:red;
    font-size:30px;
    transform:rotate(300deg);
    -webkit-transform:rotate(322deg);
}

#delivered-bg-text
{
    color:rgb(0, 255, 0);
    font-size:30px;
    transform:rotate(300deg);
    -webkit-transform:rotate(322deg);
}







/* =====================orders page================================ */




















